<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] | Template Role Access</title>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <script>

        window.onload = function (e) {
            if (
                sessionStorage.getItem("nik") == null ||
                sessionStorage.getItem("email") == null ||
                sessionStorage.getItem("name") == null ||
                sessionStorage.getItem("token") == null
            ) {
                window.location.href = urlFrontend + "auth/login";
            }
        }
    </script>
    <style>
        #pageLoader {
            position: absolute;
            min-height: 100vh;
            width: 100%;
            background-color: #fff;
            z-index: 999;
        }
    </style>
    <script>
        function hideLoader(){
            let loader = document.getElementById("pageLoader").style.display = "none";
        }

        document.addEventListener("DOMContentLoaded", () => {
            setTimeout(hideLoader, 500)
        });
    </script>
</head>

<body id="page-top">

    <div id="pageLoader"></div>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <partial name="_DSidebar" />

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="showProfile"></span>
                                <img class="img-profile rounded-circle"
                                     src="~/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                @*<a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>*@
                                <a class="dropdown-item" onclick="removeLSWithRedirect();" style="cursor: pointer;">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                @RenderBody()

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Template Role Access 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    
    <script>
        let urlBackend = "https://localhost:7010/api";
        let urlFrontend = "https://localhost:7183/";
        
        $("#showProfile").html(sessionStorage.getItem("name") + ` (${sessionStorage.getItem("role")})`)

        function removeLSWithRedirect(){
            sessionStorage.removeItem("nik")
            sessionStorage.removeItem("email")
            sessionStorage.removeItem("name")
            sessionStorage.removeItem("role")
            sessionStorage.removeItem("token")
            sessionStorage.removeItem("expired")

            window.location.href = urlFrontend + "auth/login"
        }

        // ==== check if token is expired ====
        var TimeNow = new Date()
        var formatLocalTime = TimeNow.getFullYear() + "-" +
        (parseInt(TimeNow.getMonth()) + 1 < 10 ? "0" + (parseInt(TimeNow.getMonth()) + 1) : (parseInt(TimeNow.getMonth()) + 1)) + "-" +
        (TimeNow.getDate() < 10 ? "0" + TimeNow.getDate() : TimeNow.getDate()) + "T" +
        (TimeNow.getHours() < 10 ? "0" + TimeNow.getHours() : TimeNow.getHours()) + ":" +
        (TimeNow.getMinutes() < 10 ? "0" + TimeNow.getMinutes() : TimeNow.getMinutes()) + ":" +
        (TimeNow.getDate() < 10 ? "0" + TimeNow.getDate() : TimeNow.getDate())
        
        var tokenExpired = sessionStorage.getItem("expired").slice(0, sessionStorage.getItem("expired").length - 14)
        //console.log(formatLocalTime.toString())

        if (tokenExpired <= formatLocalTime.toString()){
            removeLSWithRedirect()
        }
    </script>

    @RenderSection("Scripts", required: false)

</body>

</html>